


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@media only screen and (max-width: 993px) {
    .home_info {
    margin: 0% 0% !important;
    }
    .note-list {
        margin: 4% 20% !important;
    }
  }

  @media only screen and (max-width: 768px) {
    .note-list {
        margin: 4% 15% !important;
    }
  }